{#文章列表#}
<div class="summary-list">
    {% for article in articles %}
        <div class="media mb-1 mb-sm-2 p-2 p-lg-3">
            {% if article.image %}
                <div class="align-self-center mr-2 mr-lg-3 w-25 modal-open">
                    <a href="{% url 'blog:blog_detail' article.slug %}" target="_blank">
                        <img class="w-100 article-img" src="/media/{{ article.image }}"
                             alt="{{ article.title }}">
                    </a>
                </div>
            {% endif %}

            <div class="media-body">
                <div class="text-muted mb-2 f-12">
                    <span>{{ article.author.username }}</span>
                    <span><i class="fa fa-calendar-times-o ml-2 mr-1"></i>{{ article.created|date }}</span>
                </div>
                <h2 class="mt-0 font-weight-bold text-info f-17">
                    <a href="{% url 'blog:blog_detail' article.slug %}" target="_blank">{{ article.title }}</a>
                </h2>
                <p class="d-none d-sm-block mb-2 f-15">{{ article.summary|truncatechars:150 }}</p>
                <div class="text-muted mb-0 f-12">
                    <a class="cate" href="{% url 'blog:blog_category_list' article.category.slug %}"
                       title="查看当前分类下更多文章">
                        <i class="fa fa-book mr-1"></i>{{ article.category.name }}</a>
                    <span><i class="fa fa-eye ml-2 mr-1"></i>{{ article.get_read_num }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
    <br/>
    {% include 'blog/tags/pagination.html' %}
</div>