{% extends 'base.html' %}
{% load blog_tags %}


{% block title %}{{ article.title }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/detail.css">
<link rel="stylesheet" href="/static/css/highlighti.css">
{% endblock%}

{% block content %}
    <div class="col-lg-9">
        <div class="summary-list">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white border-0 rounded-0 mb-2 py-2 f-15">
                    <li class="breadcrumb-item">
                        <i class="fa fa-home mr-1"></i><a href="/">首页</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'blog:blog_category_list' article.category.slug %}">{{ article.category }}</a>
                    </li>
                    <li class="breadcrumb-item active d-none d-md-block" aria-current="page">{{ article.title }}</li>
                    <li class="breadcrumb-item active d-md-none" aria-current="page">当前位置</li>
                </ol>
            </nav>
            <div class="card rounded-0 border-0" id="article">
                <div class="card-body px-2 px-md-3 pb-0">
                    <h1 class="card-title text-center font-weight-bold text-info">{{ article.title }}</h1>
                    <hr>
                    <div class="text-center f-13">
                        <span class="mx-2" data-toggle="tooltip" data-placement="bottom"
                              data-original-title="最后编辑于{{ article.updated }}">{{ article.created }}</span>
                        <span class="mx-2">阅读 {{ article.get_read_num }}</span>

                    </div>
                    <div class="article-body mt-4 f-17" style="line-height:1.8">
                        {{ article.body|safe }}
                    </div>
                    <div class="tag-cloud my-4">
                        {% for tag in article.tags.all %}
                            <a class="tags f-16" href="{% url 'blog:blog_tag_list' slug=tag.slug %}">{{ tag }}</a>
                        {% endfor %}

                    </div>
                    <nav class="more-page f-16">
                        <ul class="pagination justify-content-between">
                            <li class="page-item">
                                {% if previous_article %}
                                    <a class="d-none d-md-block"
                                       href="{% url 'blog:blog_detail' previous_article.slug %}"
                                       title="上一篇：{{ previous_article.title }}">
                                        <i class="fa fa-chevron-left mr-1"></i>
                                        {{ previous_article.title|truncatechars:20 }}
                                    </a>
                                {% endif %}


                            </li>
                            <li class="page-item">
                                {% if next_article %}
                                    <a class="d-none d-md-block"
                                       href="{% url 'blog:blog_detail' next_article.slug %}"
                                       title="下一篇：{{ next_article.title }}">
                                        {{ next_article.title|truncatechars:20 }}
                                        <i class="fa fa-chevron-right ml-1"></i>
                                    </a>
                                {% endif %}

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="article-toc d-none d-lg-block f-16">
            <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="article-toc">
                <div class="card-header bg-white px-0">
                    <strong><i class="fa fa-bookmark mr-2 f-17"></i>大纲</strong>
                </div>
                {{ toc|safe }}
            </div>
            <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="category-card">
                <div class="card-header bg-white px-0">
                    <strong><i class="fa fa-book mr-2 f-17"></i>相关文章</strong>
                </div>
                <ul class="list-group list-group-flush f-16">
                    {% for item in similar_articles %}
                        <li class="list-group-item d-flex justify-content-between align-items-center pr-2 py-2">
                            <a class="category-item" href="{% url 'blog:blog_detail' item.slug %}"
                                       title="{{ item.slug }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            

        </div>
        
    </div>
{% endblock %}